# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

6

The output of the last statement is 6
First b() -  Initial value of a declared in the global namespace is 0. b() uses global value of a. 
             a = c(0) => returns 2.
             a = 2.
Second b() - a is now 2. a = c(2), which returns 4. 
             Therefore, global value of a = 4.
Third b() - a is now 4. c(4) will return 6. 
            Therefore, final value of global variable a is 6.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [30]:
def fileLength(filename):
    try:
        file = open(filename,"r") 
        content = file.read()
        print(len(content))
    except FileNotFoundError:
        print("File "+filename+" not found")

fileLength('test.txt')
fileLength('midterm.py')
fileLength('idterm.py')

7
File midterm.py not found
File idterm.py not found

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [80]:
class Marsupial: 
    pouch = []
    def __init__(self):
        self.pouch = []
    def put_in_pouch(self,content):
        self.pouch.append(content)
    def pouch_contents(self):
        print(self.pouch)

class Kangaroo(Marsupial):
    x = 0
    y = 0
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x= x
        self.y=y
    def jump(self,dx,dy):
        self.x=self.x+dx
        self.y= self.y+dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates('+str(self.x)+','+str(self.y)+')'

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [6]:
def collatz(x):
    if x == 1:
        print(1)
        return 1 
    print(int(x))
    if x%2 == 0:
        collatz(x/2)
    else:
        collatz(3*x+1)
     
    
collatz(10)
collatz(1)

10
5
16
8
4
2
1
1

1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [13]:
def binary(n):
    if n >= 1:
        binary(int(n/2))
        print(n%2, end = '')

binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [66]:
from html.parser import HTMLParser
import re
class HeadingParser(HTMLParser):
    def handle_data(self,data):
        if re.findall('h[0-9]',str(self._HTMLParser__starttag_text)):
            for i in range(int(self._HTMLParser__starttag_text[2:-1])):
                print('\t',end='')
            print(data)
            
        
html = HeadingParser()
infile = open('w3c.html')
content=infile.read()
infile.close()
html.feed(content)

	W3C Mission


		Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [137]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser
class Collector(HTMLParser):
    def __init__(self,url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self,tag,attrs):
         if tag == 'a':
                for attr in attrs:
                    if attr[0] == 'href':
                        absolute = urljoin(self.url,attr[1])
                        if absolute[:4] == 'http':
                            self.links.append(absolute)
                            
    def getLinks(self):
        return self.links
    
visited = set() 

def webdir(url,depth,indent):
    
    global visited     
    visited.add(url)
    for j in range(indent+1):
        print('\t',end='')
    print(url)
    
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()

    for i in range(depth):
            try:
                webdir(urls[i],depth-1,indent+1)
            except:
                pass


webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

	http://reed.cs.depaul.edu/lperkovic/test1.html
		http://reed.cs.depaul.edu/lperkovic/test2.html
			http://reed.cs.depaul.edu/lperkovic/test4.html
		http://reed.cs.depaul.edu/lperkovic/test3.html
			http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature

In [139]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\yashe\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\yashe\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: prettytable<1 in c:\users\yashe\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\yashe\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\yashe\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlparse in c:\users\yashe\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\yashe\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: pygments in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: decorator in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: jedi>=0.16 in c:\users\yashe\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\yashe\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\yashe\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yashe\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [157]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE climate (City text, Country text, Season text, Temp float, Rainfall float)")
con.commit()
con.close()

OperationalError: database is locked

In [8]:
import sqlite3
conn = sqlite3.connect('web.db')
curr = conn.cursor()
curr.execute("INSERT INTO climate VALUES ('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157),('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)")
conn.commit()
conn.close()

In [10]:
import sqlite3
conn = sqlite3.connect('web.db')
curr = conn.cursor()
curr.execute("select Temp as Temperature from climate")
curr.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [12]:
curr.execute("select distinct(City) from climate")
curr.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [16]:
curr.execute("select City, Country, Season, Temp as Temperature, Rainfall from climate where Country = 'India'")
curr.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [15]:
curr.execute("select City, Country, Season, Temp as Temperature, Rainfall from climate where Season = 'Fall'")
curr.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [17]:
curr.execute("select City, Country, Season from climate where Rainfall between 200 and 400")
curr.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [20]:
curr.execute("select City, Country from climate where Season = 'Fall' group by City,Country having avg(temp)>20 order by temp")
curr.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [22]:
curr.execute("select sum(Rainfall) as Total_Annual_Rainfall from climate where City = 'Cairo'")
curr.fetchall()

[(27.6,)]

In [23]:
curr.execute("select Season,sum(Rainfall) as Total_Annual_Rainfall from climate group by Season")
curr.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [31]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordsa = [word.upper() for word in words]
print("a). ", end = '')
print(wordsa)
wordsb = [word.lower() for word in words]
print("b). ", end = '')
print(wordsb)
wordsc = [len(word) for word in words]
print("c). ", end = '')
print(wordsc)
wordsd = [[word.upper(),word.lower(),len(word)] for word in words]
print("d). ",end='')
print(wordsd)
wordse = [word for word in words if len(word)>=4]
print("e). ",end='')
print(wordse)

a). ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b). ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c). [3, 5, 5, 3, 5, 4, 3, 4, 3]
d). [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e). ['quick', 'brown', 'jumps', 'over', 'lazy']